* {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  background-color: #F5F5DC;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Shantell Sans", cursive;
  font-family: "Sono", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-left: 100px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid #F5F5DC;
  border-radius: 20px;
  padding: 10px;
  transition: background-color .5s, color .5s, text-decoration .5s;
}

.main-nav a:hover{
    background-color: #228B22;
    color: white;
    text-decoration: underline;
}

.hero-section{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 150px;
}

.hero-left-section{
    margin-left: 100px;
}

h1{
    font-size: 50px;
}

p{
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
}

button{
    margin-top: 50px;
    padding: 10px;
    background-color: #228B22;
    border: 2px solid #F5F5DC;
    border-radius: 10px;
    color: white;
}

.img-one{
    height: 120px;
    border-radius: 20px;
}

.img-two{
    height: 170px;
    border-radius: 15px;
}

.img-three{
    width: 310px;
    border-radius: 35px;
}